
/* Establecer el ancho de cada tarjeta para que ocupe la mitad de la pantalla */
ion-card {
  width: calc(50% - 10px); /* Ancho del 50% con un margen de 10px entre ellas */
  margin: 0 5px; /* Margen entre las tarjetas */
  display: inline-block; /* Para que aparezcan en la misma fila */
  box-sizing: border-box; 

}

.r{
  text-align: left;
  width:100%;
}